@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: "Raleway", sans-serif;

    line-height: 3.5em;
    
    font-weight: 600;
    background-image: url(../images/cloudy-day.png)

}

.our-content {
    max-width: 600px;
    margin: auto;
    padding-top: 10px;
    padding: 100px;
}

button:hover {

    background-color: aqua;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 10px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: grey
}

.active {
    background-color: orange;
}